:root {
  --text-color: rgb(96 95 95);
  --accent-text-color: rgb(74 117 159);
  --accent-text-color-hover: rgb(31 31 149);
  --secondary-color: #343136;
  --font-family-main: "Montserrat", sans-serif;
  --header-height: 107px;
  --footer-height: 80px;
  --nav-height: 60px;
}
