.root {
  position: relative;
  border-radius: 30px !important;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.iconClose {
  font-size: 30px !important;
  color: white;
  position: absolute;
  cursor: pointer;
  right: -30px;
  top: -30px;
}

.typography {
  font-weight: 400 !important;
  font-size: 32px !important;
  padding: 50px 0 32px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 354px;
  padding-bottom: 40px;
}

.field {
  margin-bottom: 10px !important;
}

.buttonSubmit {
  text-transform: none !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  margin-top: 14px !important;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  margin-bottom: 60px;
}
