.SellerAccessesPage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.field {
  width: 520px;
  margin-bottom: 20px !important;
}

.button {
  width: 250px;
  margin-right: 20px !important;
}

.SellerProfileButtons {
  margin-bottom: 80px;
  margin-top: 20px;
}

.button_small {
  width: 90px;
  margin-right: 20px !important;
  margin-bottom: 20px !important;
}
