.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.popularPadding {
  padding: 40px 30px 0;
}

.differentPadding {
  padding: 45px 60px 0;
}

.popularSize {
  width: 414px;
}

.differentSize {
  width: 790px;
}

.popularBorderRadius {
  border-radius: 10px;
}

.differentBorderRadius {
  border-radius: 20px;
}

.iconClose {
  position: absolute;
  cursor: pointer;
  right: 32px;
  top: 32px;
}

.popularStyleText {
  font-size: 32px !important;
  width: 90%;
}

.differentStyleText {
  font-size: 36px !important;
  font-weight: 600 !important;
  font-family: Manrope, sans-serif !important;
  color: #343136 !important;
}
