.title {
  font-size: 36px;
  // font-family: 'Manrope, sans-serif' !important;
  font-weight: 500;
  color: #343136;
  margin-top: 56px;
}

.mainContainer {
  margin-top: 40px;
  margin-bottom: 40px;
}

.titleInput {
  font-size: 22px;
  color: #343136;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 40px;
}

.titleInputBottom {
  margin-bottom: 25px;
}

.containerCharacteristicsInput {
  display: flex;
  column-gap: 20px;
}

.containerInputMiniTitle {
  font-size: 14px;
  font-weight: 400;
  color: #a3a3a3 !important;
  margin-bottom: 10px;
}

.textUnderInput {
  font-size: 14px;
  font-weight: 400;
  color: #a3a3a3 !important;
  margin-top: 7px;
}

.photo {
  height: 200px;
  width: 197px;
  border-radius: 20px;
  border: 1px solid #a3a3a3;
}

.boxBtn {
  margin-bottom: 80px;
  display: flex;
  column-gap: 20px;
}

.btnStyle {
  size: 16px !important;
  font-weight: 600 !important;
  padding: 12px 24px !important;
}

.inputBigMain {
  width: 630px !important;
  height: 46px;
}