.FavoritesPage {
  padding-top: 0;
}

.HeaderTitle {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
}

.HeaderText {
  font-family:"Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.6rem;
}

.ProductsTable,
.ShopsTable {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 945px;
  gap: 1rem;
}

.FavoriteShops {
  margin-top: 5rem;
}
