.BuyerProfileCard {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  width: 520px;
  margin-bottom: 20px !important;
}

.button {
  width: 250px;
  margin-right: 20px !important;
}

.BuyerProfileButtons {
  margin-top: 60px;
  margin-bottom: 80px;
}

.error {
  color: #f00;
  font-size: 12px;
  margin-top: 5px;
}
