.linkWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  a {
    line-height: 130%;
  }
}

.activeLink {
  font-weight: 600;
  color: #f15513;
  border-bottom: #f15513 0.125em solid;
}

.baseLink {
  color: black;
}
