.SellerNotificationsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.notification {
  font-size: 22px;
  color: black;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form_wrapper {
  margin-bottom: 80px;
}
