.root {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.typography {
  font-size: 32px !important;
  margin-bottom: 30px !important;
}

.form {
  display: flex;
  flex-direction: column;
  width: 354px;
  margin-bottom: 20px;
}

.field {
  padding-bottom: 10px !important;
}

.checkbox {
  align-self: flex-end;
  padding-bottom: 30px;
  margin-right: 0 !important;

  span:first-child {
    padding: 10;
    margin-right: 8px;
  }
}

.buttonSubmit {
  margin-bottom: 10px !important;
  margin-top: 30px !important;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  margin-bottom: 60px;
}
