.container-carousel {
  height: 543px;
  width: 1280px;
  margin-bottom: 80px;
}

.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.watch-all {
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-position: under;
  color: #343631;
}

.watch-all:hover {
  font-size: 16px;
  color: #f15513;
  transition-duration: 0.7s;
  text-decoration: underline;
  text-underline-position: under;
}
.titles h1 {
  font-size: 36px;
  font-family: Manrope;
  font-weight: 600;
}

.container-carousel .swiper-wrapper {
  height: 460px;
}
.card-wrapper {
  display: flex;
  column-gap: 20px !important;
}

.container-carousel .swiper-button-next {
  right: 0%;
  color: #343631;
  z-index: 100;
  --swiper-navigation-top-offset: 96.5%;
  --swiper-navigation-size: 22px;
}

.container-carousel .swiper-button-prev {
  left: 90%;
  color: #343631;
  z-index: 100;
  --swiper-navigation-top-offset: 96.5%;
  --swiper-navigation-size: 22px;
}

.container-carousel .swiper-pagination-current {
  color: #f15513;
}

.container-carousel .swiper-pagination {
  font-size: 16px;
  left: 45%;
  margin-top: 20px;
  width: 1280px;
}
