.popular-container {
  height: 695px;
  margin-bottom: 80px;
}
.popular-wrapper {
  cursor: pointer;
  transition: 0.5s;
}
.popular-wrapper:hover {
  transform: scale(1.02);
  overflow: hidden;
}
.wrapper-image{
	overflow: hidden;
	border-radius: 20px;
}
