.slider {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  margin-bottom: 80px;

  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-navigation-color: #fff;
  --swiper-navigation-size: 22px;
  --swiper-navigation-sides-offset: 20px;
}
