.form {
  display: flex;
  flex-direction: column;
  margin: 40px 0 20px;
}

.field {
  margin-bottom: 10px !important;
}

.buttonSubmit {
  margin-top: 14px !important;
}

.linkContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
}

.error {
  color: #f00;
  font-size: 12px;
  margin-top: 5px;
}
