.form {
  display: flex;
  flex-direction: column;
  margin: 40px 0 50px;
}

.field {
  padding-bottom: 10px !important;
}

.checkbox {
  align-self: flex-end;
  padding-bottom: 18px;
  margin-right: 0 !important;

  span:first-child {
    padding: 0;
    margin-right: 8px;
  }
}

.error {
  color: red;
  font-size: 12px;
  padding-top: 5px;
}
