.root {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px !important;
  padding: 0 30px;
}

.iconClose {
  font-size: 32px !important;
  position: absolute;
  cursor: pointer;
  right: 32px;
  top: 32px;
}

.typography {
  font-size: 32px !important;
  padding: 50px 0 32px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 354px;
  padding-bottom: 60px;
}

.field {
  padding-bottom: 10px !important;
}

.checkbox {
  align-self: flex-end;
  padding-bottom: 18px;
  margin-right: 0 !important;

  span:first-child {
    padding: 0;
    margin-right: 8px;
  }
}
