.nav {
  height: var(--nav-height);
  padding: 1rem;
  background-color: var(--secondary-color);
}

.wrapperNavBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 1rem;
}

.wrapperNavBar a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nawrapperNavBar a.active {
  color: white;
}
