.Header {
  display: flex;

  // height: var(--header-height);
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding: 30px 0;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.appBar {
  background-color: initial !important;
  box-shadow: none !important;
}

.btnHeader {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.toolBar {
  justify-content: space-between;
  padding: 0 !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
