@import "app/styles/main";

.Header {
  height: var(--header-height);
  padding: 1rem;
  background-color: var(--secondary-color);
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
