.HomePage {
  width: 100%;
}

.wrapperTest {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  margin: 20px;
}

.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
  margin-bottom: 40px;
}

.watchAll {
  font-size: 16px;
}

.watchAll:hover {
  font-size: 16px;
  color: #f15513;
  border-bottom: 2px solid #f15513;
  padding-bottom: 2px;
}
