.Container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 600px;
}

.inputWrapper {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  max-width: 600px;
}

.Dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  position: absolute;
  box-sizing: border-box;
  width: 300px;
  max-width: 600px;
}

.DropdownRow {
  color: green;
}

.ProductLink {
  font-size: 20px;
  text-decoration: none;
}
